<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.xtrafe.mobile.fma"
      android:versionCode="1"
      android:versionName="1.0">	
	<uses-permission 
		android:name="android.permission.READ_LOGS"/>
	<uses-permission
		android:name="android.permission.INTERNET"/>
	<uses-sdk 
		android:targetSdkVersion="8"/>			

    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/titleAppName" 
    	android:testOnly="false">    	    
        <activity 
        	android:name="ActMain"
			android:label="@string/titleAppName">
            <intent-filter>
                <action 
                	android:name="android.intent.action.MAIN" />
                <category 
                	android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
        	android:name="ActEvora"
        	android:configChanges="keyboardHidden|orientation"/>
        <activity 
        	android:name="ActLogButton"/>
		<activity 
        	android:name="ActNDFDeckChooser"/>
        <activity 
        	android:name="ActNDFDeckEditor"/>
		<activity
			android:name="ActNDFQuiz"/>
		<activity
			android:name="ActOpenGL"/>
		<activity
			android:name="ActTSStockChooser"
			android:configChanges="keyboardHidden|orientation"/>     			
    </application>
</manifest>